@import url(./__text/intro__text.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__title/intro__title.css);
@import url(./__span-bold/intro__span-bold.css);
.intro {
    max-width: 984px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80x;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 930px) {
    .intro {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 375px) {
    .intro {
        margin-bottom: 40px;
    }
}