@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css");
.lead {
  max-width: 985px;
  margin: auto;
  margin-bottom: 81px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 930px) {
  .lead {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .lead {
    margin-bottom: 65px;
  }
}