.intro__text_size_medium {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width:375px) {
  .intro__text_size_medium {
    font-size: 12px;
    line-height: 19px;
  }
}