.cover__subtitle {
  width: 34%;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: 0;
  margin-bottom: 43px;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 47%;
  }
}

@media screen and (max-width: 450px) {
  .cover__subtitle {
    width: 72%;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 85%;
    margin-bottom: 20px;
  }
}
